{% set nav = craft.entries({
    section: 'experiments',
    level: 1
}).all() %}

<header class="c-header" role="banner" data-module="Header">
    <nav class="c-header_nav">
        <a class="js-link {% if entry.url == siteUrl %}u-visible{% endif %}" href="{{siteUrl}}">
            <span>Home</span>
        </a>
        {% for page in nav %}
            <a class="js-link {% if entry.url == page.url %}u-visible{% endif %}" href="{{page.url}}">
                <span>{{page.title}}</span>
            </a>
        {% endfor %}
    </nav>
</header>