.c-header{
    @include position(fixed, 50% null null 0);
    @include size(0, 100vh);
    display: inline-flex;
    align-items: center;
    overflow: visible;
    transform: translateY(-50%);

    .c-header_nav{
        display: inline-block;
        width: 0;

        a{
            padding: 0.5rem 27px 0.5rem $unit-small;
            white-space: nowrap;
            color: lighten($off-black, 20);
            box-shadow: 0 0 6px rgba(35,35,35,0);
            font-weight: $regular;
            background: darken($white, 13);
            transform: translateX(calc(-100% + 26px));
            display: inline-block;
            transition: all 0.3s $easing;
            will-change: transform;
            margin: 0;
            position: relative;
            z-index: auto;

            &::after,
            &::before{
                content: "";
                @include position(absolute, 0 0 null null);
                @include size(7px, 100%);
                transform-style: preserve-3d;
                transform: translate3d(0, 0 -1);
            }

            &::after{
                background: rgb(204, 204, 204);
            }

            &::before{
                background: $secondary;
                z-index: 2;
                width: 0;
                transition: width 0.3s $easing;
            }

            &.u-visible{
                background: $white;
                transform: translateX(0);
                opacity: 1;
                z-index: 5;

                &::before{
                    width: 7px;
                }
            }

            &:hover{
                opacity: 1;
                // z-index: 4;
                transform: translateX(0);
                box-shadow: 0 0 6px rgba(35,35,35,0.15);
            }
        }
    }
}