.c-transition{
    @include position(fixed, 0 null null 0);
    @include size(100vw, 100vh);
    transform: translate3d(0, 101%, 0);
    background: $yellow;
    transition: transform 0s linear;
    z-index: 9999;

    &.u-visible{
        transform: translate3d(0, 0, 0);
        transition: transform 1.3s $easing;
    }

    &.u-hidden{
        transform: translate3d(0, -101%, 0);
        transition: transform 1.3s $easing;
    }
}