<div class="o-container-narrow">
    <form class="js-form o-layout" method="post" action="" accept-charset="UTF-8" data-module="Form" disable-keyup="true">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="contact-form/send">
        <input id="thebamboozler" name="thebamboozler" type="text" style="display:none !important;position:absolute !important;top:-9999px !important;left:-9999px !important;width:0 !important;height:0 !important;overflow:hidden !important;">
        
        <input class="o-input o-layout_item u-1/1 t-slide" type="text" name="fromName" id="fromName" value="" placeholder="Name" />
        <input class="o-input o-layout_item u-1/1 t-slide" type="email" name="fromEmail" id="fromEmail" value="" placeholder="Email" />
        <textarea class="o-layout_item u-1/1 t-slide" name="message" id="message" placeholder="Enter your message" rows="6"></textarea>

        <ul class="o-layout_item u-1/1 -none -inline t-slide">
            <li class="u-margin-right-thin" ><input type="submit" value="Send Message" class="o-button -filled o-submit" /></li>
            <li class="u-margin-right-thin" ><input type="reset" value="Reset" class="o-button -outline o-reset" /></li>
        </ul>
    </form>
</div>