// ==========================================================================
// Base / Headings
// ==========================================================================

@mixin h
{
    line-height: $line-height-h;
    color: $black;
    margin: $base-margin-h;
    padding: 0;
    text-transform: uppercase;
    font-family: $font-heading;
    letter-spacing: 0.25em;
    font-weight: $base-font-weight-h;
}

//
// Provide a generic class to apply common heading styles.
.o-h
{
    @include h;
}

//
// Styles for headings 1 through 6 with classes to provide
// a double stranded heading hierarchy, e.g. we semantically
// need an H2, but we want it to be sized like an H1:
//
// @example
//   <h2 class="o-h1"></h2>
//
h1,
.o-h1
{
    font-size: $font-size-h1;
    @extend .o-h;
}

h2,
.o-h2
{
    font-size: $font-size-h2;
    @extend .o-h;
}

h3,
.o-h3
{
    font-size: $font-size-h3;
    @extend .o-h;
}

h4,
.o-h4
{
    font-size: $font-size-h4;
    @extend .o-h;
}

h5,
.o-h5
{
    font-size: $font-size-h5;
    @extend .o-h;
}

h6,
.o-h6
{
    font-size: $font-size-h6;
    @extend .o-h;
}
