// ==========================================================================
// Base / Page
// ==========================================================================

//
// Simple page-level setup.
//
// 1. Set the default `font-size` and `line-height` for the entire project,
//    sourced from our default variables.
// 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
//    navigating between pages that do/do not have enough content to produce
//    scrollbars naturally.
// 3. Ensure the page always fills at least the entire height of the viewport.
//
html
{
    font-family: $font-family;
    font-size: $font-size; /* [1] */
    line-height: $line-height; /* [1] */
    overflow-y: scroll; /* [2] */
    min-height: 100%; /* [3] */
    color: $color;
    text-align: justify;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;

    @media (min-width: $from-medium){
        text-align: left;
    }
}

::selection
{
    color: $selection-text-color;
    background-color: $selection-background-color;
    text-shadow: none;
}