{% extends '_layouts/base' %}

{% block content %}
    <section data-template="{{entry.slug}}" class="o-container-full u-padding-vertical-thick">
        {% include '_singles/' ~ entry.slug %}
    </section>
{% endblock %}