// ==========================================================================
// Objects / Buttons
// ==========================================================================

//
// 1. Allow us to style box model properties.
// 2. Fixes odd inner spacing in IE7.
// 3. Line different sized buttons up a little nicer.
// 4. Force all button-styled elements to appear clickable.
//
button,
.o-button
{
    // Base
    cursor: pointer; /* [4] */
    user-select: none; /* [4] */
    display: inline-block;

    // Font
    font-size: 0.8em;
    font-weight: $medium;
    letter-spacing: 0.25em;
    line-height: 3.5em;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    white-space: nowrap;
    
    // Sizing
    height: 3.5em;
    padding: 0 2em;
    box-sizing: border-box; /* [1] */
    overflow: visible; /* [2] */
    

    // Position
    margin: $base-margin;
    vertical-align: middle; /* [3] */
    
    // Color
    background: transparent;
    color: $primary;
    

    &.-round{
        border-radius: 4px;
    }

    &.-outline{
        box-shadow: inset 0 0 0 2px $off-white;
        transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        &:hover{
            box-shadow: inset 0 0 0 2px $primary;
            color: $primary;
        }
    }

    &.-filled{
        background: $primary;
        color: $white;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        &:hover{
            background: darken($primary, 10);
        }
    }

    &.-big{
        font-size: 12px;
        height: 64px;
        line-height: 64px;
        padding: 0 32px;

        @media (min-width: $from-large){
            min-width: 324px;
            height: 64px;
            line-height: 64px;
            padding: 0 34px;
            font-size: 18px;
        }
    }

    &.-fit{
        display: block;
        margin: 0 0 1em 0;
        width: 100%;
    }

    &.-small{
        font-size: 0.6em;
    }

    &.-disabled{
        opacity: 0.25;
        pointer-events: none;
    }
}
