// ==========================================================================
// Objects / Container
// ==========================================================================

//
// Page-level constraining and wrapping elements.
//
// > In programming languages the word *container* is generally used for structures
// that can contain more than one element.
// > A *wrapper* instead is something that wraps around a single object to provide
// more functionalities and interfaces to it.
// @link http://stackoverflow.com/a/13202141/140357
//

/* stylelint-disable */
@if (type-of($container-width) != number)
{
    @error '`#{$container-width}` needs to be a number.'
}
/* stylelint-enable */

// Base container
.o-container
{
    max-width: $container-width;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: $padding;
    padding-left: $padding;
    width: 100%;

    @include u-flexbox;        //Adds flexbox modifiers from  tools/_mixins.scss
    @include u-fullscreen;     //Adds height modifiers from tools/_mixins.scss
    @include u-mobile-padding; //Adds default padding on mobile sizes from tools/_mixins.scss, configured from $unit-small in settings/_config.scss
}

// Full width (typically fullscreen) container
.o-container-full{
    width: 100%;

    @include u-flexbox;    //Adds flexbox modifiers from  tools/_mixins.scss
    @include u-fullscreen; //Adds height modifiers from tools/_mixins.scss
    @include u-mobile-padding; //Adds default padding on mobile sizes from tools/_mixins.scss, configured from $unit-small in settings/_config.scss
}

// Narrow width container
.o-container-narrow{
    max-width: $narrow-container-width;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: $padding;
    padding-left: $padding;
    width: 100%;

    @include u-flexbox;    //Adds flexbox modifiers from  tools/_mixins.scss
    @include u-fullscreen; //Adds height modifiers from tools/_mixins.scss
    @include u-mobile-padding; //Adds default padding on mobile sizes from tools/_mixins.scss, configured from $unit-small in settings/_config.scss
}

// Wraper object used to block and contain content.
// Typically used within a flexbox container.
.o-wrapper
{
    position: relative;
    display: inline-block;
    margin: 0 auto;

    @include u-flexbox;    //Adds flexbox modifiers from  tools/_mixins.scss
    @include u-fullscreen; //Adds height modifiers from tools/_mixins.scss

    &.-middle{
        vertical-align: middle;
    }

    &.-center
    {
        display: block;
        text-align: center;
    }

    &.-right
    {
        text-align: right;
    }
}

.o-row{
    &.o-container-full{
        padding: 0 $unit;
        & > {
            margin-left: -$unit;
        }
    }
}