// ==========================================================================
// Objects / Layout
// ==========================================================================

//
// Grid-like layout system.
//
// The layout object provides us with a column-style layout system. This file
// contains the basic structural elements, but classes should be complemented
// with width utilities, for example:
//
// @example
//   <div class="o-layout">
//     <div class="o-layout_item  u-1/1  u-1/3@medium">
//     </div>
//     <div class="o-layout_item  u-1/2  u-1/3@medium">
//     </div>
//     <div class="o-layout_item  u-1/2  u-1/3@medium">
//     </div>
//   </div>
//
// We can also manipulate entire layout systems by adding a series of modifiers
// to the `.o-layout` block. For example:
//
// @example
//   <div class="o-layout  -reverse">
//
// This will reverse the displayed order of the system so that it runs in the
// opposite order to our source, effectively flipping the system over.
//
// @example
//   <div class="o-layout  -[right|center]">
//
// This will cause the system to fill up from either the centre or the right
// hand side. Default behaviour is to fill up the layout system from the left.
//
// @requires tools/layout
// @link https://github.com/inuitcss/inuitcss/blob/0420ba8/objects/_objects.layout.scss
//

.o-layout
{
    @include o-layout;

    // Gutter modifiers
    @media (min-width: $from-huge){
        &.-gutter{
            margin-left: -$unit/2;
            margin-right: -$unit/2;
        }
        &.-gutter-small{
            margin-left: -$unit/4;
            margin-right: -$unit/4;
        }
    }

    // Horizontal aligment modifiers
    &.-center
    {
        text-align: center;
    }

    &.-right
    {
        text-align: right;
    }

    &.-reverse
    {
        direction: rtl;
    }
}

.o-layout_item
{
    @include o-layout_item;

    // Gutter modifiers
    @media (min-width: $from-small){
        .o-layout.-gutter > &
        {
            padding-left: $unit/2;
            padding-right: $unit/2;
        }

        .o-layout.-gutter-small > &
        {
            padding-left: $unit/4;
            padding-right: $unit/4;
        }
    }

    // Vertical alignment modifiers
    .o-layout.-middle > &
    {
        vertical-align: middle;
    }

    .o-layout.-bottom > &
    {
        vertical-align: bottom;
    }

    // Horizontal aligment modifiers
    .o-layout.-center > &,
    .o-layout.-right > &,
    .o-layout.-reverse > &
    {
        text-align: left;
    }

    .o-layout.-reverse > &
    {
        direction: ltr;
    }
}
